.dathang {
  width: 450px;
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.dathang > .khungdh {
  border: 1px solid #ddd;
}
.dathang > .khungdh > h2 {
  text-align: center;
  padding: 20px 0px;
  text-transform: uppercase;
  color: darkorange;
}
.dathang > .khungdh p {
  font-size: 18px;
  padding: 10px 0px 8px 20px;
  text-transform: capitalize;
}
.dathang > .khungdh input {
  height: 35px;
  width: 90%;
  margin-left: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
}
.khungdh > textarea {
  margin-left: 20px;
  height: 80px;
  width: 90%;
  padding: 15px;
  border: 1px solid #ddd;
}
.khungdh > button {
  display: block;
  margin: 20px auto;
  height: 35px;
  width: 100px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #ff0000;
  color: white;
  cursor: pointer;
}
.khungdh > button:hover {
  background-color: #b40303;
}
.khungdh .nuttich {
  display: flex;
  align-items: center;
}
.khungdh .nuttich input {
  height: 15px;
  width: 10px;
}
