.thantrang {
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 30px;
}
.thantrang h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0px;
}
.thantrang p {
  font-size: 15px;
}
.lh {
  margin-top: 20px;
}
.thantrang > .viethoa {
  text-transform: capitalize;
}
