* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.trangthai {
  background-color: #00a2ff;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  color: white;
}
.trangthai > ul {
  list-style: none;
  width: 100px;
  height: 100%;
  border-left: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.trangthai > ul > li {
  font-size: 18px;
}
.trangthai .menu2 {
  list-style: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #00a2ff;
  height: 40px;
  width: 150px;
  display: none;
  color: white;
}
.trangthai > ul:hover .menu2 {
  display: block;
}
/* .trangthai .menu2 > li {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 10px;
} */
.menu2 > li > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 10px;
  color: white;
}
.trang {
  display: flex;
  height: auto;
}
.menu {
  width: 200px;
  background-color: #2c3e50;
  cursor: pointer;
}
.menu > ul {
  list-style: none;
}
.menu > ul > li:hover {
  background-color: #567da3;
  border-right: 3px solid aqua;
}
.menu > ul > li {
  padding: 20px 25px;
  border-bottom: 1px solid #ddd;
}
.menu > ul > li:last-child {
  border-bottom: none;
}
.menu > ul > li > a {
  color: white;
  text-decoration: none;
}
.thongtin {
  width: 350px;
  padding-left: 20px;
  margin-top: 20px;
  height: 700px;
}
.thanh {
  background-color: rgb(22, 185, 185);
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 5px 0px;
  border-radius: 10px;
  width: 350px;
}
.thanh > h2 {
  padding-left: 15px;
  color: white;
}
.thongtin > input {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  margin: 15px 0px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}
.thongtin > .nut {
  display: flex;
  margin-top: 20px;
  gap: 15px;
}
.thongtin > .nut > button {
  width: 133px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}
.thongtin > .nut > .nut1 {
  background-color: rgb(50, 114, 93);
}
.thongtin > .nut > .nut2 {
  background-color: rgb(246, 83, 116);
}
.thongtin > .nut > .nut3 {
  background-color: rgb(236, 158, 63);
}
.thongtin > .nut > .nut4 {
  background-color: rgb(71, 131, 12);
  margin-bottom: 10px;
}
.thongtin > select {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  border: none;
  border-radius: 7px;
  border: 1px solid #ddd;
  font-size: 15px;
  text-transform: capitalize;
  padding-left: 10px;
  margin-top: 15px;
}
.thongtin > .khunginput {
  display: flex;
  position: relative;
}
.thongtin > .khunginput input {
  height: 35px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 7px;
  padding-left: 100px;
  margin: 15px 0px;
  font-size: 16px;
}
.thongtin > .khunginput .chonanh {
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 2px;
  font-size: 16px;
}
.danhsach {
  width: 900px;
  margin-left: 50px;
  margin-top: 20px;
}
.timkiem {
  display: flex;
}
.timkiem > input {
  width: 75%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  margin-right: 30px;
  cursor: pointer;
}
.timkiem > button {
  width: 15%;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #00a2ff;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.timkiem > button:hover {
  background-color: #04659d;
}
.bang,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
.bang {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}
.bang th {
  padding: 7px;
  text-transform: capitalize;
  font-size: 17px;
}
.bang td {
  padding: 5px;
  font-size: 15px;
}
.dautrang > ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  margin-top: 30px;
  gap: 10px;
}
.dautrang > ul > li {
  padding: 5px 10px;
  /* border: 1px solid black; */
  font-weight: bold;
  background-color: #00a2ff;
  border-radius: 5px;
  cursor: pointer;
}
.dautrang > ul > li:hover {
  background-color: #067cc1;
}
.dautrang > ul > li > a {
  text-decoration: none;
  color: white;
}
.sua {
  margin-right: 10px;
  text-transform: capitalize;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.sua:hover {
  background-color: red;
  color: white;
}
.xoa {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.xoa:hover {
  background-color: red;
  color: white;
}
